@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  user-select: none;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: Kumbh Sans; 

}

.desktop{
  display:none;
}

.container{
  width: 370px;
  height: 600px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;
  box-shadow: 15px 15px 30px rgb(88, 78, 179);

}

.head{
  width: 220px; 
  position: absolute;
  transform: translate(-120px,-120px);
  z-index: 3;
  
}

.foot{
  width: 220px;
  position: absolute;
  transform: translate(-120px,-20px);
}
.foot img{
  width: 220px;
}


.faq h1{
  margin-top: 90px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 900;
}



.list{
  width: 100%;
}

.content{
  width: 100%;
}
.content p{
  font-size: 12px;
  line-height: 1.4;
  color: hsl(240, 6%, 50%);
  user-select: text;
  opacity: 0;
  max-height: 0;
  transition: max-height 0.8s ease, opacity 0.8s ease;
}

.content h2{
  margin-bottom: 10px;
  color: hsl(237, 12%, 33%);

  cursor: pointer;
  
}

.content h2:hover{
  color: hsl(14, 88%, 65%);
}

.item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.line{
  height: 1px;
  width: 100%;
  background-color: hsl(240, 5%, 91%);
  margin-top: 10px;
  margin-bottom: 10px;

}

.item img {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(3.5px);
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

@media only screen and (min-width: 950px) {
  
  .mobile{
    display: none;
  }

  .desktop{
    display: block;

  }

  .container{
    width: 900px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }

  .top{
    width: 50%;
    display: flex;
    align-items:center;
    justify-content: center;

  }
  .box{
    z-index: 4;
    position: absolute;
    top:0;
    left:0;
    transform: translate(15px, 130px);
  }

  .bottom{
    width: 50%;
  }

  .head{
    transform: translateX(-250px);
  }
  .foot{
    transform: translate(-250px,20px);

  }
  .foot img{
    width: 472px

  }

  .faq h1{
    margin-top: 70px;
    margin-bottom: 70px;
  }


  
  
  
}
